/*
body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(235deg, #74ebd5, #ACB6E5, #89b2d6, #2e485f);
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
*/

body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #74ebd5, #ACB6E5, #89b2d6, #2e485f);
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  background: linear-gradient(135deg,#990303, #fbff00, #990303);
  padding: 30px 40px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 300px;
}

.calculator h1 {
  margin-bottom: 20px;
  color: #333;
}

input[type="number"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  margin-top: 10px;
}

button {
  flex: 1 1 30%;
  padding: 10px 0;
  font-size: 1.2em;
  border: none;
  border-radius: 8px;
  background: #2e485f;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: #7a9dbd;
}

.result {
  margin-top: 20px;
  font-size: 1.2em;
  color: #222;
  background: #64c9c0;
  padding: 10px;
  border-radius: 8px;
}
