body {
  margin: 0;
  background-color: blue;
}

.container {
    height: 150px;
    width: 150px;
    padding: 20px;
    background: white;
    box-sizing: border-box;
    font-size: 41px;
    overflow: visible;
}
.container1{
    height: 150px;
    width: 150px;
    padding: 20px;
    background: white;
    box-sizing: border-box;
    font-size: 41px;
    overflow: hidden;
}
.container2{
    height: 150px;
    width: 150px;
    padding: 20px;
    background: white;
    box-sizing: border-box;
    font-size: 41px;
    overflow: scroll;
}
.container3{
    height: 150px;
    width: 150px;
    padding: 20px;
    background: white;
    box-sizing: border-box;
    font-size: 41px;
    overflow: auto;
    text-overflow: ellipsis;
}